@model Hack.Server.Controllers.QuestionDetailViewModel

<div class="question-detail">
    <div class="question-detail-panel">
        <div class="question-detail-question">
            Question
        </div>
        <div class="question-detail-title">
            @Model.Title
        </div>
        <div class="question-detail-description-title">
            Description
        </div>
        <div class="question-detail-description">
            @Model.Description
        </div>
        <div class="question-user-info">
            <div class="question-user-info-username">
                @Model.UserName
            </div>
            <div class="question-user-info-date">
                @Model.DateTimeString
            </div>
        </div>
    </div>
    <div class="question-detail-offers">
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_partials/_questionComment", comment)
        }
    </div>
</div>