@model Hack.Server.Controllers.QuestionDetailViewModel

<div class="question-detail" data-id="@Model.Id">
    <div class="question-detail-panel">
        <div class="question-detail-question">
            Question
        </div>
        <div class="question-detail-title">
            @Model.Title
        </div>
        <div class="question-detail-description-title">
            Description
        </div>
        <div class="question-detail-description">
            @Model.Description
        </div>
        <div class="question-user-info">
            <div class="question-user-info-username">
                @Model.UserNameString
            </div>
            <div class="question-user-info-date">
                @Model.DateTimeString
            </div>
        </div>
    </div>
    <div class="question-detail-offers">
        @foreach (var comment in Model.Comments)
        {
            @Html.Partial("_partials/_questionComment", comment)
        }
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('.question-comment-profile-image').click(function () {
            var questionId = jQuery(this).attr('data-id');
            nativeListener.performClick(questionId);
        });
    });
</script>